@CHARSET "UTF-8";

html body {
    background-color: #deeaee;
}

#insertNewtech{
  padding: 10px;
  border-radius: 10px;
  background-color: skyblue;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
