@charset "UTF-8";

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

html body {
    background-color: #EFECCA;
}

.board {
  border: none;
  height: 100%;
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
}

.panel {
  border: none;
}

.sort_options h3 {
  display: inline;
  font-size: 16px;
}

.selectpicker:hover {
  cursor: pointer;
}

.table {
  border: none;
}

#reply_num{
  color: green;
}

.img-circle {
  display: inline-block;
  border: 1px silver solid;
  width: 25px;
  height: 25px;
}
