@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

* {
	font-family: 'Hanna', serif;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

#cash {
	
	width: 25%;
	text-align: right;
}
.panel-heading{
font-size: 20px;
}

 /* #buy {
	width: 45%;
	margin-right: 20px;
}

#charge {
	background-color: #ff8040;
	width: 45%;
} */
#myitem {
	width: 13%;
}

#itemtitle {
	text-align: center;
}

#thisbuy {
	 width: auto;
    padding: 10px 18px;
    border: none;
	
}
#thiscash{
	 width: auto;
    padding: 10px 18px;
    border: none;
}

#close {
	width: 14%;
	height: 4.5%;
	position: absoulte;
	left: 50%;
}

#myitemModal {
	height: auto;
	width: 1200px;
}

#itemheight {
	width: auto;
	overflow: auto;
	margin: 0px;
	-ms-overflow-style: none;
}
#itemdetail img{
	width:200px;
	 height:130px; 
	 margin-left: 30px;
}

/* 스크롤되는 메뉴 */
#floating{ position : absolute;}
/* end */

/* 스크롤 숨기기 */
::-webkit-scrollbar {
	display: none;
}

/* 아이템 상세보기 */
#selectimage {
	
	width: auto;
	height: 20%;
	padding: 20px;
}
/* 선택아이템 이미지 */


#information {
	/* background : yellow; */
	position: absolute;
	top: 8%;
	left: 50%;
	width: 48%;
	height: 85%;
	border-left: 1px dotted black;
}
/* ----------------------- */