
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@charset "UTF-8";

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

*{
  //border: 1px gold solid;
}

html body {
  background-color: #EFECCA;
}

.jumbotron {
  font-family: 'Hanna', serif;
  text-align: center;
  height: 250px;
  max-height: 250px;
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("../img/main.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;left:0;
    z-index:1;
  }

.jumbotron {
  position:relative;padding:50px;
}

.jumbotron .container {
  z-index:2;
  position:relative;
  z-index:2;
}

/*게시판 영역*/
.board_area {
  background-color: white;
  border: none;
  margin-left: 250px;
  margin-right: 250px;
}

.board-heading{
  background-color: #002F2F;
  padding: 20px;
  height: 80px;
}

#write{
  background-color: skyblue;
  border: none;
  float: left;
  font-family: 'Hanna', serif;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
}

#write:hover{
  color: gold;
}

.search-bar{
  font-family: 'Hanna', serif;
  float: left;
  margin-left: 30px;
}

.search-bar input {
  display: inline-block;
  float: left;
}

#search_btn{
  display: inline-block;
  float: right;
  background-color: skyblue;
  border: none;
  font-family: 'Hanna', serif;
  padding: 10px 15px 10px 15px;
}

#search_btn:hover {
  color: gold;
}

.sort_options{
  float: right;
  font-family: 'Hanna', serif;
}

.sort_options select{
  padding: 6px;
}


.sort_options select:hover, .sort_options option:hover {
  cursor: pointer;
}

.sort_options .selectpicker{
}

.board-body{
  padding: 20px;
}


.table {
  border: none;
  font-family: 'Nanum Gothic';
}

#reply_num{
  color: green;
}
