@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.modal-header {
  background-color: #002F2F;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/* Full-width input fields */
.modal-body input[type=text], .modal-body input[type=password] {
  font-family: 'Hanna', serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal-body input[type=text]:focus, .modal-body input[type=password]:focus {
  border: 1px green solid;
}

/* Set a style for all buttons */
.modal-body button {
  font-family: 'Hanna', serif;
    background-color: #002F2F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-body button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.modal-footer .cancelbtn {
    color: white;
    width: auto;
    padding: 10px 18px;
    border: none;
}

.container {
    padding: 16px;
    border: none;
}

span.psw {
    float: right;
    padding-top: 16px;
    margin: 10px;
}

/* The Modal (background) */
.modal {
  font-family: 'Hanna', serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
   /*  z-index: 1; Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.1s;
    animation: animatezoom 0.1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
