@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

* {
  //border: 1px gold solid;
  font-family: 'Hanna', serif;
}

.polls_heading {
  text-align: center;
  color: white;
  background-color: #002F2F;
  width: 100%;
  padding: 20px;
}

.polls_heading h1 {
  background-color: #002F2F;
}

.polls_body {
  background-color: grey;
  text-align: center;
  padding: 20px;
}

.polls_body button{
  font-size: 24px;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin: 10px;
  transition: transform 0.5s;
}

#polls_result_btn{
  font-size: 24px;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  margin: 10px;
  background-color: skyblue;
  transition: transform 0.5s;
}

#polls_result_btn:hover{
  transform: scale(1.1);
  color: gold;
}

.polls_body button:hover {
  transform: scale(1.1);
  color: gold;
}

.polls_between {
  color: white;
  background-color: #3e3e3e;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  margin: 10px;
}

.polls_body #con {
  background-color: #1abc9c;
}

.polls_body #pro {
  background-color: #eb7966;
}

#polls_result {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

#polls_result:hover {
  color: gold;
}

.board {
  border: none;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
}

.panel {
  border: none;
}

.input-group .form-control{
  padding: 10px;
  font-size: 12px;
}

.input-group {
  width: 600px;
}

.sort_options select:hover, .sort_options option:hover {
  cursor: pointer;
}

.sort_options .selectpicker{
  width: 150px;
}

.table {
  border: none;
  font-family: 'Nanum Gothic';
}

#reply_num{
  color: green;
}

.img-circle {
  display: inline-block;
  border: 1px silver solid;
  width: 25px;
  height: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
