@charset "UTF-8";

*{
	  font-family: 'Hanna', serif;
}

html body {
  background-color: #deeaee;
}

.container{
	border: 1px right: ; solid;
}

.profile_area{
	display: inline-block;
	width: 100%;
	background-color: lime;
	border: 1px gold solid;
	padding: 30px;
	margin-top: 30px;
}

.profile_area .profile_img{
	float: left;
	width: 30%;
	height: 100%;
	background-color: pink;
}

#profile_user_img{
	width: 25%;
	height: 25%;
	min-width: 200px;
	min-height: 200px;
}

#profile_id{
	display: inline-block;
	padding: 30px;
	border: 1px gold solid;
}

.profile_area .intro{
	display: inline-block;
	width: 100%;
	background-color: lime;
	border: 1px gold solid;
}
