@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

/*
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F
*/

* {
  font-family: 'Hanna', serif;
}

.board {
	border: none;
	background-color: white;
	height: 100%;
	width: 50%;
  margin: auto;
  margin-top: 50px;
}

#profileImg{
border: 1px solid black;
max-height: 300px;
width: auto;
margin-top: 5px;
margin: auto;
text-align: center;"
}

#pictureUpload{
  border: 1px silver solid;
}

#vali_btn {
  margin: 0;
}

form input[type=text],form input[type=password],form input[type=email] {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

form input[type=text]:focus,form input[type=password]:focus,form input[type=email]:focus {
  border: 1px green solid;
}

form select{
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

input[type=submit], input[type=button], input[type=reset] {
  background-color: #002F2F;
  padding: 10px;
  color: white;
  border: none;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
  opacity: 0.8;
}
