<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceMapper">
	<resultMap id="serviceMap" type="Service">
		<result column="SERNAME" property="sername" />
		<result column="SERADD" property="seradd" />
		<result column="SERCONTENT" property="sercontent" />
		<result column="YNCHECK" property="yncheck"/>
	</resultMap>

	<insert id="serviceinsert" parameterType="Service">
		INSERT INTO SERVICE
		VALUES
		(
		#{sername},#{seradd},#{sercontent},default
		)
	</insert>
	
	<select id="serviceselectAll" resultMap="serviceMap">
		SELECT * FROM SERVICE
	
	</select>
	
</mapper>